<div class="backgroundBox">
  <div>
    <br />
    <h2 id="back"><a href="/skills">back</a> </h2>
    <h1>Modify Job {{job.sname}}</h1>
    {{#if isLoggedIn}}
      {{#if isAdmin}}
        <form action="/jobs/modify/{{job.jid}}" method="post">
          <fieldset class="db">
            <label for="jobname">Job name</label>

            <input
              type="text"
              name="jobname"
              id="jobname"
              required="required"
              value="{{job.jname}}"
            />
            <br />
            <label for="jobdesc">Job description</label><br />
            <textarea
              name="jobdesc"
              id="jobdesc"
              cols="30"
              rows="10"
              required="required"
            >
              {{job.jdesc}}
            </textarea>
            <br />
            <label for="jobsyear">Job starting year</label>
            <input
              type="text"
              name="jobsyear"
              id="jobsyear"
              required="required"
              value="{{job.jsyear}}"
            />
            <br />
            <label for="jobeyear">Job ending year</label>
            <input
              type="text"
              name="jobeyear"
              id="jobeyear"
              required="required"
              value="{{job.jeyear}}"
            />
            <br />
          </fieldset>
          <input type="submit" value="Update job" />
        </form>
      {{else}}
        <p>Sorry, you need to be an admin to update a job</p>
      {{/if}}
    {{else}}
      <h2>Sorry, you need to be logged in to add a new job!</h2>
      <h2>Please go to the <a href="/login">login</a> page</h2>
    {{/if}}
  </div>
</div>