<div class="backgroundBox">
  <div class="contact columns">

    <h2 id="back"><a href="/projects">back</a> </h2>
    <div class="infoImage column col-lg-5 col-md-12">
      <img id="infoImage" src="{{project.pimgURL}}" />
    </div>

    <div class="contactText column col-lg-5 col-md-7 col-mx-auto">
      <h1 id="project">{{project.pname}}</h1>
      <h2>{{project.pyear}} | {{project.ptype}}</h2>
      <div class="projectDesc">
        <p>{{project.pdesc}}</p>
      </div>
    </div>
  </div>
</div>