<div class="backgroundBox skillsPage">
  <div class="content columns">
    <div class="firstRowBoxes columns col-12 col-mx-auto">
      <div class="education column col-5 col-md-11">
        <h3>Education</h3>
        <ul>
          <li>2022-2025 New media design 180hp at Jönköping University</li>
          <li>2020 Mathematics 5 course</li>
          <li>
            2017-2020 The technical programme of Erik Dahlbergsgymnasiet
          </li>
        </ul>
      </div>
      <div class="languages column col-5 col-md-11">
        <h3>Languages</h3>
        <ul>
          <li>Native language: Swedish</li>
          <li>Fluent: English</li>
          <li>Limited understanding: Spanish, Danish, Norwegian</li>
        </ul>
      </div> 
      </div>
      <div class="secondRowBoxes columns col-12 col-mx-auto">
      <div class="professional column col-5 col-md-11">
        <h3>Professional experience</h3>
        <ul>
          {{#each jobs}}
            <li> {{jsyear}}-{{jeyear}}  <b>{{jname}}</b> <br>{{jdesc}} {{#if ../isAdmin}} <br> <a href="/jobs/modify/{{jid}}">modify</a>  <a href="/jobs/delete/{{jid}}">delete</a> {{/if}} </li>
          {{/each}}
        </ul>
        {{#if isAdmin}}
          <div>
            <a href="/jobs/new">Add job</a>
          </div>
        {{/if}}
      </div>
    
   
      <div class="skills column col-5 col-md-11">
        <h3>Computer Skills</h3>
        <ul>
          {{#each skills}}
            <li> <b>{{sname}}</b> <br>{{sdesc}}  {{#if ../isAdmin}} <br> <a href="/skills/modify/{{sid}}">modify</a>  <a href="/skills/delete/{{sid}}">delete</a> {{/if}} </li>
          {{/each}}
        </ul>
        {{#if isAdmin}}
          <div>
            <a href="/skills/new">Add skill</a>
          </div>
        {{/if}}
      </div>
</div>
    </div>
  </div>
</div>